@font-face {
  font-family: 'Circular';
  src: url('/fonts/Circular-Bold.woff2') format('woff2'),
    url('/fonts/Circular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular';
  src: url('/fonts/Circular-Book.woff2') format('woff2'),
    url('/fonts/Circular-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
